html, body {
	padding:0;
	margin:0;
	background-color: black;
	font-family: arial;
}
main {
	background-color: black;
	display: flex;
	flex-flow: column;
	color: white;
	font-size: calc(1vw + 1vh);
	height: 100vh;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: black;
	margin: auto;
	height: 15vh;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
iframe {
	display: none;
}
h1 a {
	text-decoration: none;
	color: white;
}
h1 {
	font-size: calc(2vw + 6vh);
	margin: auto;
	padding: 1%;
}
.container {
    display: flex;
    flex-flow: column;
	background-color: black;
	justify-content: space-between;
	margin: auto;
	width: 100%;
	padding-top: 15vh;
	padding-bottom: 25vh;
}
.music {
	display: flex;
	width: 100%;
	height: 100%;
}
.input {
	display: flex;
	flex-flow: column;
	margin: auto;
	width: 100%;
}

.player {
	display: flex;
	position: fixed;
	bottom: 0;
	background-color: #333;
	width: 100%;
	justify-content: center;
	height: 25vh;
}
.player h2 {
	margin: auto;
}
.list {
	display: flex;
	flex-flow: row wrap;
	min-height: 10vh;
	margin: auto;
	justify-content: space-evenly;
}
.list li {
	display: flex;
	cursor: pointer;
}
.item{
	border-radius: 0.5rem;
	align-self: center;
	padding-top: 2vmin;
	display: flex;
}
.wide {
	width: 90%;
	justify-content: space-between;
	margin: auto;
	border-bottom: 2px solid #333;
}
.item p {
	font-size: calc(2vw + 2vh);
}
.item img {
	margin: auto;
}
.textInput {
	background-color: lightgray;
	border: none;
	border-radius: 0.2rem;
	margin: auto;
	font-size: calc(2vw + 5vh);
	max-width: 75vw;
}
.buttonInput {
	border-radius: 0.2rem;
	border: 2px solid lightgray;
	background: none;
	color: white;
	cursor: pointer;
	min-height: 4vmin;
	min-width: 4vmin;
	margin: auto 0 auto 10px;
	font-size: calc(2vw + 5vh);
}
#album {
	margin-left: 1%;
}
.ytImage {
	width: 10vmin;
	margin-left: 10%;
	margin-right: 10%;
}
#youtube-icon {
	width: 20vmin;
}
#poster {
	object-fit: contain;
	max-width: 10vw;
}
.poster {
	
	display: none;
}
.poster img {
	object-fit: contain;
}
.imgdiv {
	display: flex;
}
#nowPlaying {
	margin: auto;
	font-size: calc(2vw + 3vh);
	text-align: center;
}
.player2 h2 {
	font-size: calc(2vw + 5vh);
}
#youtube-audio {
	padding-top: 0;
}
.thumbnail{
    cursor: pointer;
    margin: 0 10px 20px 0;
    border: 6px solid #fff;
    box-shadow: 0 1px 1px #ccc;
    width: 200px;
}
#progress-bar{
    position: relative;
    width: 100%;
    height: 20px;
    cursor: pointer;
}
#controls i {
    color: #000;
    font-size: 120px;
    cursor: pointer;
}
#volume-input{
    height: 32px;
    width: 45px;
}
#next,
#prev{
    display: block;
}
#controls {
	display: flex;
	flex-flow: column;
	
	justify-content: center;
}
#controls ul {
	display: flex;
}
#controls li {
	display: flex;
	align-self: center;
}
#back {
	position: fixed;
	top: 0;
	left: 0;
	font-size: calc(2vw + 6vh);
}
#timer {
	font-size: calc(2vw + 2vh);
	padding: 0;
	margin: 0;
}